
html, body, #map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .stations, .stations svg {
    position: absolute;
  }
  
  .stations svg {
    width: 600px;
    height: 600px;
    padding-right: 100px;
    font: 10px sans-serif;
  }
  
  .stations .confsusp {
    fill: yellow;
    stroke: black;
    stroke-width: 0px;
  }

  .confirmed {
    fill: red;
    stroke: black;
    stroke-width: 0px;
  }