.allcases {
    opacity: .4;
    fill: red;
    stroke: black;
    stroke-width: 0px;
}

.confirmed {
    opacity: .4;
    fill: black;
    stroke: black;
    stroke-width: 0px;
}

/* .leaflet-zoom-animated {
    background-color:blue;
    fill-opacity:.3;
    opacity: .5
} */

#slider3 {
    margin: 20px 0 10px 20px;
    width: 900px;
}